.App-Header-Row {
    background: linear-gradient(to right, #dad7d0, #e8eaee); 
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 12px;
    border-bottom: 1px dotted #d3cce3; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
